body{
    background-color: lightblue;
    margin: 50px;
}
h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 table, th, td{
    border: 1px solid black;
    width: 300px;
    text-align: left;
    background-color:white;
    color: green;
 } 
